<input type="text" [(ngModel)]="title">
{{title}}

<input type="text" [(ngModel)]="power">
{{ power | exponential }}

<app-product [product]=""></app-product>

<div *ngIf="title === 'nicolas'">
    esto es un div
</div>

<div [ngSwitch]="title">
    <p *ngSwitchCase="'nicolas'">this is nicolas</p>
    <p *ngSwitchCase="'julian'">this is julian</p>
</div>
    

<button (dblclick)="addItem()">Add item</button>

<ul>
    <li *ngIf="items.length == 0">la lista esta vacia</li>
    <li *ngFor="let name of items; index as i">
        {{name}} {{i}}
        <button (click)="deleteItem(i)">delete</button>
    </li>
</ul>


